:root {
  --black-color: #212121;
  --blue-color: #2196f3;
  --gray-color: #757575;
  --dark-background-color: #2f303a;
  --white-color: #fff;
  --light-background-color: #f5f4fa;
  --dark-black-color: #000;
  --transparent-grey-color: rgba(255, 255, 255, 0.6);
  --transparent-gradient-color: rgba(47, 48, 58, 0.4);
  --top-bar-line: #ececec;
  --portfolio-bottom-border: #eeeeee;
  --svg-grey-color: #afb1b8;
  --modal-contact-grey-color: rgba(117, 117, 117, 0.5);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--black-color);
  font-size: 14px;
}

.navigation__a {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation__a {
  color: var(--black-color);
}

.contact__details {
  color: var(--gray-color);
  text-decoration: none;
  font-style: normal;
  min-width: max-content;
}
.contact__details--mail {
  margin-right: 30px;
}
.contact__icon {
  margin-right: 10px;
  fill: var(--gray-color);
}

.contact__details:hover .contact__icon,
.contact__details.contact__icon {
  fill: var(--blue-color);
}
.navigation__a:hover,
.navigation__a:focus,
.contact__details:hover,
.contact__details:focus {
  color: var(--blue-color);
  cursor: pointer;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo--black {
  color: #000;
}
.logo__span--blue {
  color: var(--blue-color);
}
.logo--blue {
  color: var(--blue-color);
}
.logo__span--white {
  color: #fff;
}

.adress__details {
  text-decoration: none;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.contact-details--bottom {
  text-decoration: none;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--transparent-grey-color);
}
.bottom__input {
  width: 358px;
  height: 50px;
  margin: 20px 12px 0 0;
  padding: 15px 0 15px 16px;
  background-color: var(--dark-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.03em;
  line-height: 1.25;
  color: var(--transparent-grey-color);
  font-size: 16px;
}

.order-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;

  height: 50px;
  border-width: 0px;
}
.order-button:hover,
.order-button:focus {
  cursor: pointer;
}
.bottom__order-button {
  display: inline-flex;
  padding: 10px 28px 10px 42px;
  width: auto;
}
.bottom__newsletter-icon {
  fill: var(--white-color);
  margin: auto 0 auto 24px;
  display: inline-block;
}
.baner__header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  width: 692px;
}
.second-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}
.description__box-icon {
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: var(--light-background-color);
  border-radius: 4px;
}
.description__box-icon {
  display: block;
}
.description__header {
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.description__paragraph {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}
.team__figcaption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.field-name {
  color: var(--gray-color);
  font-weight: 400;
  font-size: 16px;
  display: block;
  letter-spacing: 0.03em;
}

.team__list .field-name {
  text-align: center;
  line-height: 1.18;
}
.social {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}
.social__circle {
  height: 44px;
  width: 44px;
  padding: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.social__circle:hover,
.social__circle:focus {
  background-color: var(--blue-color);
}
.social__circle:hover .social__icon,
.social__circle:focus .social__icon {
  fill: var(--white-color);
}

.social__icon {
  fill: var(--svg-grey-color);
}

.social__icon--white {
  fill: var(--white-color);
}

.client__list {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 30px;
}
.client__logo-frame {
  padding: 16px 32px;
  border: 1px solid var(--svg-grey-color);
  border-radius: 4px;
}
.client__logo {
  fill: var(--svg-grey-color);
}
.client__logo-frame:hover,
.client__logo-frame:focus {
  border-color: var(--blue-color);
}
.client__logo-frame:hover .client__logo,
.client__logo-frame:focus .client__logo {
  fill: var(--blue-color);
}
.portfolio__filter .field-name {
  text-align: start;
  line-height: 1.88;
  margin-top: 4px;
}
.portfolio__filter-button {
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  width: 121px;
  background: var(--light-background-color);
  border-radius: 4px;
  border: 0;
  padding: 6px 0;
  color: var(--black-color);
}
.portfolio__card {
  position: relative;
  z-index: 1;
}
.portfolio__card:hover,
.portfolio__card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.portfolio__card:hover .porfolio__description,
.portfolio__card:focus .porfolio__description {
  animation: change-figure-content 250ms forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.porfolio__description {
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--white-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 49px 45px 45px 24px;
  width: 370px;
  height: 0;
  max-height: 294px;
  z-index: 2;
  position: absolute;
  top: 298px;
  overflow: hidden;
}
@keyframes change-figure-content {
  0% {
    transform: translateY(0);
    height: 0;
  }
  100% {
    transform: translateY(-100%);
    height: 370px;
  }
}
.porfolio__filter-button:hover,
.porfolio__filter-button:focus {
  color: #fff;
  background-color: var(--blue-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.bottom {
  background-color: var(--dark-background-color);
}
.baner {
  background-image: linear-gradient(
      var(--transparent-gradient-color),
      var(--transparent-gradient-color)
    ),
    url("../images/background-photo.jpg");
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position: center;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
.top-bar {
  border-bottom: 1px solid var(--top-bar-line);
}
.top-bar .container {
  display: flex;
  align-items: center;
}

.navigation {
  margin-left: 93px;
  margin-right: 371px;
}
.navigation__links {
  display: flex;
  list-style: none;
  gap: 46px;
}
.navigation__li {
  position: relative;
  padding: 32px 0;
}
.navigation__li--active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--blue-color);
  position: absolute;
  bottom: 0;
}

.baner .container {
  padding: 200px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.description__header {
  margin-bottom: 10px;
}
.section {
  padding: 94px 0;
}
.description__list,
.activities__list,
.team__list,
.portfolio__filter,
.portfolio__list {
  display: flex;
  list-style: none;
  gap: 30px;
  justify-content: center;
}
.portfolio__filter {
  gap: 8px;
}
.activities__second-header {
  padding-top: 94px;
}
.activities__li {
  position: relative;
}
.activities__img {
  display: block;
}
.activities__title {
  font-size: 14px;

  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  z-index: 2;
  padding: 27px 90px;
  width: 370px;
  height: 70px;
  color: var(--white-color);
  bottom: 0;
}
.team {
  background-color: var(--light-background-color);
}
.team__profile {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__figcaption {
  padding: 30px 0;
}
.team__field-name {
  margin-top: 10px;
}
.bottom .container {
  padding: 60px 0;
  display: flex;
  align-items: baseline;
  gap: 70px;
}
.bottom .logo {
  margin-bottom: 20px;
}
.adress {
  list-style: none;
  margin-top: 20px;
}
.adress li + li {
  margin-top: 9px;
}
.bottom-header {
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.portfolio__filter {
  margin-bottom: 50px;
}
.portfolio__list {
  flex-wrap: wrap;
}

.portfolio__figcaption {
  padding: 20px 24px;
  border-right: 1px solid var(--portfolio-bottom-border);
  border-bottom: 1px solid var(--portfolio-bottom-border);
  border-left: 1px solid var(--portfolio-bottom-border);
  background-color: #fff;
  position: relative;
  z-index: 3;
}

/*transition */
.navigation__a,
.contact__details {
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social__circle {
  transition: background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input {
  transition-property: border, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.contact__icon,
.client-logo,
.social__icon,
.contact-form__icon {
  transition: fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-logo-frame,
.contact-details-input {
  transition: border-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.porfolio__filter-button {
  transition-property: color, background-color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.portfolio__card {
  transition: box-shadow 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*modal */
.backdrop {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
  display: flex;
  transition: opacity 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop__modal {
  position: relative;
  top: auto;
  left: auto;
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: auto;
}
.backdrop__close {
  display: block;
  margin: 8px 8px auto auto;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.backdrop__close-icon {
  display: block;
  margin: auto;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 2px;
  margin-bottom: 12px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__label,
.form__input {
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.form__label {
  margin: 0 40px;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.01em;
  color: var(--gray-color);
  position: relative;
}
.form__label:hover .form__icon,
.form__label:focus-within .form__icon {
  fill: var(--blue-color);
}
.form__label:hover .form__input,
.form__label:focus-within .form__input,
.form__label:active .form__input,
.form__input:hover,
.form__input:focus-within,
.form__input:active {
  border-color: var(--blue-color);
  outline: none;
}
.form__label + .form__label {
  margin-top: 10px;
}
.form__input {
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--gray-color);
  padding-left: 42px;
}
.checkbox {
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--gray-color);
  margin-top: 20px;
  margin-bottom: 30px;
}
.checkbox__input {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  color: var(--black-color);
  margin-right: 7px;
  border: 1.7px solid;
  appearance: none;
}
.checkbox__input:checked {
  border: 0px;
  background-color: var(--blue-color);
}
.checkbox__icon {
  position: absolute;
  left: 2px;
  fill: white;
}

.form__input.form__input--comment {
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.01em;
}
.form__input.form__input--comment::placeholder {
  color: var(--modal-contact-grey-color);
}
.form__icon {
  fill: var(--black-color);
  position: absolute;
  top: calc((100% + 6px) / 2);
  left: 14px;
}
